body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 810px) {
    img {
        width: 600px;
    }
}

@media (max-width: 610px) {
    img {
        width: 400px;
    }
}

@media (max-width: 410px) {
    img {
        width: 300px;
    }
}